@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Modern:wght@100..400&display=swap');
@import "tailwindcss";

@font-face {
    font-family: Stray;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/stray.ttf") format("ttf");
}

@theme {
    --font-lato: "Lato", sans-serif;
    --font-playwrite: "Playwrite US Modern", cursive;
    --font-stray: "Stray";

    --animate-pulse-slow: pulse 10s ease-in-out infinite;
    @keyframes wiggle {
        50% {
            opacity: 0.5;
        }
    }
}